@let currentDocument = docLoaderService.document$();
<tui-root>
  <div class="control-panel">
    <p>{{ currentDocument?.name }}</p>
    <div class="view-controls">
      <div class="pages">
        <p>0</p>
        <p>/</p>
        <p>{{ currentDocument?.pages?.length || 0 }}</p>
      </div>
      <div class="zoom">
        <tui-icon (click)="increaseZoom()" icon="@tui.plus"></tui-icon>
        zoom
        <tui-icon (click)="decreaseZoom()" icon="@tui.minus"></tui-icon>
      </div>
    </div>
    <div class="command-controls">
      <input type="file" class="file-input"
             (change)="loadDocument($event.currentTarget)" #fileUpload>

      <tui-icon class="file-upload" [tuiHint]="'Открыть документ'" (click)="fileUpload.click()" icon="@tui.book-open"></tui-icon>
      <tui-icon [tuiHint]="'Закрыть документ'" (click)="closeDocument()" icon="@tui.x"></tui-icon>
      <tui-icon [tuiHint]="'Сохранить аннотации'" (click)="saveChanges()" icon="@tui.save"></tui-icon>
    </div>
  </div>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>

</tui-root>
