:host {
  width: 100%;
  height: fit-content;
  .page-container {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 15px;
    display: flex;
    justify-self: center;
  }
}
